.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}

.nav-title {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.small-sub-text {
  height: 12px;
  line-height: 80%;
  text-align: right;
  font-size: 10px;
}