<div class="grid-container">
  <h1 class="mat-h1 title">Sản phẩm</h1>
  <mat-grid-list cols="5" rowHeight="400px" gutterSize="20px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="colspan" [rowspan]="rowspan">
      <!-- <mat-card class="dashboard-card card-image" [style.background-image]="getPhoneImage(card.imageName)">
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
      </mat-card> -->
      <mat-card class="card" (click)="viewPhone(card._id)">
        <div class="card-image-container">
          <img mat-card-image class="card-image" src="{{getPhoneImage(card.imageName)}}" alt="">
        </div>
        <mat-card-header class="card-header">
          <div class="card-header-container">
            <p class="card-text card-name">
              {{card.name}}
            </p>
            <div class="card-price-container">
              <p class="card-text card-price current">
                {{pipePrice(card.current_price)}}
              </p>
              <p class="card-text card-price original">
                {{pipePrice(card.original_price)}}
              </p>
            </div>
          </div>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>