.grid-container {
  padding: 20px 10vh;
  /* background-color: #eeeeee; */
}

.title {
  text-align: center;
  font-weight: bolder;
}

/* .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
} */

/* .more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
} */

.card {
  padding: 0;
}

.card-image-container {
  padding: 16px;
}

.card-image {
  display: block;
  margin: 0 !important;
  max-height: 284px;
  max-width: 284px;
  cursor: pointer;
}

.card-text {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header {
  padding-bottom: 16px;
  width: 284px;
}

.card-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-name {
  font-size: 18px;
}

.card-price-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-price {
  font-size: 18px;
  margin-bottom: 0;
}

.original {
  color: gray;
  text-decoration: line-through;
}

.current {
  color: darkcyan;
  font-weight: bold;
}
